<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>51236793979-e559q7ueaevb78h3krvscs0v12k7pau6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.51236793979-e559q7ueaevb78h3krvscs0v12k7pau6</string>
	<key>API_KEY</key>
	<string>AIzaSyDyUytbs77brqRkB74PE-8Ja3uIlz1ouVk</string>
	<key>GCM_SENDER_ID</key>
	<string>51236793979</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Chetan.ArchShopping</string>
	<key>PROJECT_ID</key>
	<string>myshopping-81324</string>
	<key>STORAGE_BUCKET</key>
	<string>myshopping-81324.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:51236793979:ios:21d6530cc3366ca3163cde</string>
	<key>DATABASE_URL</key>
	<string>https://myshopping-81324.firebaseio.com</string>
</dict>
</plist>